<html>
	<head>
		<title>Home dos produtos</title>
	</head>
	<body>
		<ul>
			<%for (var i = 0; i < lista.length; i++){%>
				<li>
					<span>Nome: <%=lista[i].nome %></span>
					<span>R$ <%=lista[i].preco %></span>
				</li>
			<% } %>
		</ul>
	</body>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		var socket = io();
		socket.on('novoProduto', function(data){
			alert('Novo produto: ' + data);
		});
	</script>
</html>