<html>
	<head>
		<title>Listagem de produtos</title>
	</head>
	<body>
		<table style="border: solid 1px">
			<th>
				<td>id</td>
				<td>nome</td>
			</th>			
			<tr>
				<td>1</td>
				<td>livro 1</td>
			</tr>
		</table>
	</body>
</html>
