<html>
	<head>
		<title>Listagem de produtos</title>
	</head>
	<body>
		<table style="border: solid 1px">
			<th>
				<td>id</td>
				<td>nome</td>
				<td>descricao</td>
				<td>preco</td>
			</th>
			<%
			for(var i = 0; i<=lista.length;i++){
			%>
				<tr>
					<td><% lista[i].id %></td>
					<td><% lista[i].nome %></td>
				</tr>
			<%}%>			
		</table>
	</body>
</html>
