<html>
	<head>
		<title>Listagem de produtos</title>
	</head>
	<body>
		<table style="border: solid 1px">
			<th>
				<td>nome</td>
			</th>
			<%
			for(var i = 0; i<lista.length;i++){
				console.log(lista[i].nome);
			%>
				<tr>
					<td><%= lista[i].nome %></td>
				</tr>
			<%}%>			
		</table>
	</body>
</html>
